body {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8557c6d2fba5366815ca9d77231da407&auto=format&fit=crop&w=1955&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;

  /* PARA QUE PARA CUALQUIER RESOLUCION LA IMAGEN NO CAMBIE DE TAMAÑO */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;


  /* background-color: #CF6060; */

}

header{
    position: fixed;
    margin-top: 6vh;
    margin-left: 6vh;

}
.textoInicial {
  height:80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  /* margin-top: 30vh;
  margin-left: 30vh;
/* background-image: url("./public/imagen/textoinicial.png"); */
/* background-color: red;
z-index: 3; */


}
.imagenIn{
  max-height: 100%;
  max-width: 100%;
}
.inputAdd{
        width: 30vh;
        padding-top: 0.1vh;
        padding-bottom: 0.1vh;
        margin-top: 1.5vh;
}
.listHeader{
  display: flex;
  flex-direction: row;
  /* position: fixed; */

}

.task{
  display: flex;
  flex-direction: row;


}

.buttonList{
  display: flex;
  justify-content: flex-start;


}
.list{

  min-width: 37vh;
  max-width: 37vh;
  overflow-y: : auto; /*Lo que sobresalga del box no aparece. */
  /* overflow: scroll; */

  margin-top: 3vh;
  margin-left: 5vh;
  background: #f8f9fa;
  padding: 1.2vh 0.1vh 1.2vh 1.3vh;
  -webkit-border-radius: 0.25em;
}

input{
-webkit-border-radius: 5px;
}

::placeholder{
  color: white;

}

#adderTask{
    width: 4vh;
    margin-left: 0.4vh;
    margin-top: 2vh;
}
.btn-dark {
    color: #343a40;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border: none;
}
#adderTask.btn-dark:hover {
    color: #858686;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    text-decoration: none;
}
#adderTask.btn-dark:focus {
    box-shadow: none;
}

/* #adderTask{
    size: 60%;

} */

/* Con el flex elegimos la direccion a la que queremos que se desplace el scroll */
#lists{
  display: flex;
  flex-direction: row;
  padding-top: 10vh;


}

.addTask{

    /* padding-top: 30px; */
}

.tasks{
  max-height: 65vh;
  overflow-y: scroll;
  /* padding-top: 30px; */

}
/*AÑADIR LAS BARRAS QUE HACEN SCROLL  */
.tasks::-webkit-scrollbar {
 width: 7px;
}
.task::-webkit-scrollbar-button {
 width: 0px;
}

.tasks::-webkit-scrollbar-track {
 background: #f8f9fa;
 border-radius: 7px;
}

.tasks::-webkit-scrollbar-thumb {
 background: gray;
 border-radius: 7px;
}

.tasks::-webkit-scrollbar-thumb:hover {
 background: darkgray;

}

.nameTask{
  font-size: 0.9em;
  min-width: 29vh;
  max-width: 29vh;
  margin-right: 1vh;
  font-family: 'Bitter', serif;
  border-bottom: 2px solid #a5a4a3;
}
.nameTask:focus{
  outline: none;
}

.nameList{
  text-transform: uppercase;
  max-width: 29vh;
  min-width: 29vh;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Bitter', serif;
  padding-left: 7px;
  color: #343a40;
  display: flex;
  justify-content: center;

}
.nameList:focus{
  outline: none;
}


.deleteButtonTask{
  -webkit-border-radius: 0.25em;
  border: none;
  background-color: transparent;
  max-height: 1vh;
  width: 0px;
 height: 0px;
 padding-left: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
}

.deleteButtonTask span{
  font-size: 1vh;
  max-height: 1vh;
  padding-left: 1vh;
}
button:focus {
     outline: none;
}

.deleteButtonList{
  border-radius: 50%;
  border-color: #ff5f5fb5;
  background-color: #ff5f5fb5;
  /* margin-left: 10px; */
  max-width: 5px;
  min-width: 5px;
  max-height: 15px;
  min-height: 10px;

}


/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;

    cursor: pointer;
    padding-left: 2vh;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0px;
    height: 0px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0.9vh;
    left: 0;
    height: 2.3vh;
    width: 2.3vh;
    background-color: #f8f9fa;
    border-color:##010101;
    border-style:solid;
    border-width: 0.2vh;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid ;
    border-color:#010101;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
	margin-bottom: 10px;
	background-color: #f8204f;
	border-width: 2px;
	border-color: #f8204f;
	color: #fff;
}
.cust-btn:hover{

	border-color: #f8204f;
	background-color: #fff;
	color: #f8204f;
	border-radius: 20px;
	transform-style: 2s;

}
