body {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8557c6d2fba5366815ca9d77231da407&auto=format&fit=crop&w=1955&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;

  /* PARA QUE PARA CUALQUIER RESOLUCION LA IMAGEN NO CAMBIE DE TAMAÑO */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
padding: 1px;
height: 98%;
width: 98%;
position: absolute;
overflow: scroll;
  /* background-color: #CF6060; */

}

header{
    position: fixed;
    margin-top: 6vh;
    margin-left: 6vh;

}
.textoInicial{
  /* margin-top: 30vh;
  margin-left: 30vh;
/* background-image: url("./public/imagen/textoinicial.png"); */
/* background-color: red;
z-index: 3; */


}
.inputAdd{
        width: 27vh;
        padding-top: 0.1vh;
        padding-bottom: 0.1vh;
}
.listHeader{
  display: flex;
  flex-direction: row;
  /* position: fixed; */

}

.task{
  display: flex;
  flex-direction: row;


}

.buttonList{
  display: flex;
  justify-content: flex-start;


}
.list{

  min-width: 37vh;
  max-width: 37vh;
  overflow-y: : auto; /*Lo que sobresalga del box no aparece. */
  /* overflow: scroll; */

  margin-top: 3vh;
  margin-left: 6vh;
  background: #f8f9fa;
  padding-left: 1.5vh;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  -webkit-border-radius: 0.25em;
}

input{
-webkit-border-radius: 5px;
}

::placeholder{
  color: white;

}

#adderTask{
    width: 4vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* -webkit-border-radius: 100%; */
    margin-left: 0.4vh;

}

/* #adderTask{
    size: 60%;

} */

/* Con el flex elegimos la direccion a la que queremos que se desplace el scroll */
#lists{
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  overflow: scroll;

}

.addTask{

    /* padding-top: 30px; */
}
.tasks{
  max-height: 65vh;
  overflow-y: scroll;
  /* padding-top: 30px; */

}

.task::-webkit-scrollbar{
  width: 12px;
  background-color: white;

}
.nameTask{
  font-size: 0.9em;
  max-width: 250px;
  min-width: 250px;
  font-family: 'Bitter', serif;


}

.nameList{
  text-transform: uppercase;
  max-width: 250px;
  min-width: 250px;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Bitter', serif;
  padding-left: 7px;
  color: #343a40;
  display: flex;
  justify-content: center;

}


.deleteButtonTask{
  margin-left: 10px;
  max-width: 10px;
  min-width: 10px;
  max-height: 10px;
  min-height: 10px;
  -webkit-border-radius: 0.25em;
  border-color: #ff5f5fb5;
  border-radius: unfocus;

}
.deleteButtonList{
  border-radius: 50%;
  border-color: #ff5f5fb5;
  background-color: #ff5f5fb5;
  /* margin-left: 10px; */
  max-width: 5px;
  min-width: 5px;
  max-height: 15px;
  min-height: 10px;

}
